/* #app {
  background-color: grey;
  color: white;
} */

#app {
  cursor: url("https://files.cnblogs.com/files/yjlblog/cursor.ico"),auto;
}

.info {
  padding-left: 20px;
}

.top {
  display: flex;
  justify-content: center;
  position: relative;
}

.overview {
  text-align: center;
}

.desc {
  text-align: left;
  padding-top: 60px;
  margin-bottom: 150px;
  display: flex;
  /* grid-template-columns: 650px 50px 650px; */
  position: relative;
  align-content: stretch;
  justify-content: center;
}

.desc-left {
  max-width: 730px;
}

.desc-divider {
  border-right: 0.5px solid black;
}

.product-desc {
  font-size: 20px;
}

.product-slogan {
  padding-bottom: 30px;
}

.product-features {
  padding-left: 100px;
  font-size: 30px;
}

.fa-check {
  margin-right: 35px;
}