
.carousel1 {
  position: relative;
  /* margin-top: 15px; */
  height: 800px;
  width: 600px;
  margin: 15px 140px;
}

.bigImg {
  width: 100%;
  height: 100%;
  border-radius: 1.5%;
  object-fit: cover;
}

.carousel1__track-container {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 10;
}

.largesc {
  width: 185%;
  z-index: 100;
}

.full-btn {
  position: absolute;
  background: transparent;
  z-index: 150;
  right: 15px;
  top: 15px;
  font-size: 20px;
}

.full-btn:hover {
  background: grey;
}

.large-btn {
  right: -485px;
}

.carousel1__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-style: hidden;
  background: transparent;
  z-index: 150;
}

.carousel1__button i {
  width: 20px;
  color: rgb(65, 65, 65);
  text-shadow: 1px 1px 1px grey;
}

.carousel1__button i:hover {
  color: white;
}

.carousel1__button--left {
  left: 5px;
}

.carousel1__button--right {
  right: 5px;
}

.largescArr {
  right: -500px;
}

.left{
  position: absolute;
  z-index: 20;
  left: 10px;
  top: 10px;
  display: flex;
  flex-direction: column;
  padding: 5px 0 5px;
  margin-bottom: 5px;
  overflow: visible;
}

.left img {
  object-fit: cover;
}

.thumbNail {
  width: 40px;
  height: 40px;
  padding: 1px;
  border-style: groove;
  border-radius: 5px;
}


.right img{
  border-radius: 10px;
  width: 600px;
  height: 700px;
  object-fit: cover;
}
