
.root{
  position: relative;
}

.left{
  position: absolute;
  left: 10px;
  top: 10px;
  display: flex;
  flex-direction: column;
  padding: 5px 0 5px;
  margin-bottom: 5px;
}

.left img {
  object-fit: cover;
}

.thumbNail {
  width: 40px;
  height: 40px;
  padding: 1px;
  border-style: groove;
  border-radius: 5px;
}

.right {
  /* padding-left: 10px; */
  padding-right: 50px;
  padding-top: 10px;
}

.right img{
  border-radius: 10px;
  width: 600px;
  height: 700px;
  object-fit: cover;
  /* background-size: contain; */
}
